<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Livro - BiblioTech</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"> 
<body>
    <div class="page-container">
        <h1 th:text="${livro.id == null ? 'Cadastrar Novo Livro' : 'Editar Livro'}">Formulário de Livro</h1>
        <h2>Preencha os dados do livro</h2>

        <form th:action="@{/livros/salvar}" th:object="${livro}" method="post" class="form-cadastro">

            <input type="hidden" th:field="*{id}" /> 

            <label for="titulo">Título:</label>
            <input type="text" id="titulo" th:field="*{titulo}" required placeholder="Título do Livro">
            
            <label for="autor">Autor:</label>
            <input type="text" id="autor" th:field="*{autor}" required placeholder="Nome do Autor">

            <label for="genero">Gênero:</label>
            <input type="text" id="genero" th:field="*{genero}" required placeholder="Gênero Literário">

            <label for="status">Status:</label>
            <select id="status" th:field="*{status}" required>
                <option value="Disponível">Disponível</option>
                <option value="Emprestado">Emprestado</option>
                <option value="Em Manutenção">Em Manutenção</option>
            </select>

            <div class="action-buttons">
                <button type="submit" class="btn btn-green" th:text="${livro.id == null ? 'Cadastrar' : 'Salvar Alterações'}">Cadastrar</button>
                
                <a th:href="@{/livros}" class="btn btn-gray">Cancelar</a>
            </div>
        </form>
    </div>
</body>
</html>